<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>node js</title>
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>
    <section>
<h1>Weather App</h1>
 {{>header}}
    <p>{{name}}</p>
    <form>
        <input type="text" placeholder="Location">
        <button>Search</button>

    </form>
    <div class="result"></div>

     {{>footer}}

    </section>
   

    <script src="./app.js/script.js"></script>
</body>
</html>